<mat-card>
  <mat-card-content>
    <section>
      <h1 matHeader>Client Form</h1>
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="First name" name="name" [(ngModel)]="name"/>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="Address" name="address" [(ngModel)]="address"/>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="Phone" name="phone" [(ngModel)]="phone"/>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select placeholder="Cities" [(ngModel)]="city">
          <mat-option *ngFor="let aCity of cities" [value]="aCity.name">{{ aCity.name }} - {{ aCity.state }}</mat-option>
        </mat-select>
        <mat-icon matSuffix>location_city</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input type="number" matInput placeholder="Age" name="age" [(ngModel)]="age"/>
        <mat-icon matSuffix>filter_center_focus</mat-icon>
      </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleSave()">Save</button>
    <button mat-raised-button color="warn" (click)="handleCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="clients.length">
  <mat-card-content>
    <section>
      <mat-list>
        <h3 matHeader>Client List</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let client of clients; let i = index">
          <mat-icon matListIcon>person</mat-icon>
          <h2 mat-line>Name: {{ client.name }}</h2>
          <h4 mat-line>Phone: {{ client.phone }}</h4>
          <h4 mat-line>Address: {{ client.address }}</h4>
          <h4 mat-line>City: {{ client.city }}</h4>
          <h6 mat-line>Age: {{ client.age }}</h6>
          <button mat-icon-button color="accent" (click)="handleRemove(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </section>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
