<label> Server name </label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
>  -->

<!-- Modo mais usual, usando ngModel como two-way bindings -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>

<!-- Long Form, usando ngModels separadamente com getter e setter -->
<!-- É mais longo mas mais legível -->
<!-- <input
  type="text"
  class="form-control"
  [ngModel]="getServerName()"
  (ngModelChange)="setServerName($event)"
> -->

<!-- <p>{{ getServerName() }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!getAllowNewServer()"
  (click)="onCreateServer()"
  >Add server
</button>
<!-- <p [innerText]="getAllowNewServer()"></p> -->
<!-- <p>{{ getServerCreation() }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>

<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
